{% extends 'base.html.twig' %}
{% block title %}
	Création produit
{% endblock %}
{% block body %}
	<main>
		<h1>Création</h1>
		{{form_start(formulaire_produit)}}
		{{form_rest(formulaire_produit)}}
		<input type="submit" value='Créer'>
		{{form_end(formulaire_produit)}}

	</main>
{% endblock %}
